<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="C:/Users/Gangadhar Reddy/IdeaProjects/myproject/src/test/java/TWOPACK/SearchTest.java">
        <classes>
            <class name="TWOPACK.SearchTest">
                <methods>
                    <include name="VerifySearchExistingProductName"/>
                    <include name="VerifySearchNonExistingProdoct"/>
                    <include name="VerifyUsingSearchCriteriaField"/>
                    <include name="VerifySearchbyselectingthecategoryofproduct"/>
                    <include name="VerifyNavigateProductCamparePageFromSearchPage"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>